<div class="container"> 
    <div class="card shadow mb-4"> 
        <div class="card-body"> 
            <table class="table table-striped"> 
                <tr> 
                    <th>Id</th>
                    <th>Nom</th> 
                    <th>Prenom</th> 
                    <th>salaire</th> 
                    <th>Date De Recrutement</th> 
                    <th>Team</th>
                </tr> 
                <tbody *ngFor="let employee of employees"> 
                    <tr>
                        <td>{{employee.id}}</td> 
                        <td>{{employee.nom}}</td>
                        <td>{{employee.prenom}}</td> 
                        <td>{{employee.salaire}}</td> 
                        <td>{{employee.dateRec | date:'dd/MM/yyyy'}}</td>
                        <td>{{employee.team.nomTeam}}</td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerEmployee(employee)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateEmployee',employee.id]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>