<div class="container">
    <div>
    <h2>Ajouter un employee :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label >ID employee</label>
            <input type="text" [(ngModel)]="newEmployee.id" name="id" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Nom Employee</label>
            <input type="text" [(ngModel)]="newEmployee.nom" name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Prenom Employee</label>
            <input type="text" [(ngModel)]="newEmployee.prenom" name="prenom" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Salaire</label>
            <input type="number" [(ngModel)]="newEmployee.salaire"name="salaire" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date de recrutement</label>
            <input type="date" [(ngModel)]="newEmployee.dateRec" name="dateRec" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Team</label>
            <select class="form-control form-control-lg" id="idTeam" name="idTeam" [(ngModel)]="newIdTeam">
             <option *ngFor="let t of team" [value]="t.idTeam" >
             {{t.nomTeam}}
            </option>
            </select>
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addEmployee()"class="btn btn-success">Ajouter</button>
        <div>
            <h3>{{message}}</h3>
        </div>
        </div>
        </form>
        </div>